$headerFontSize : 64px;

.maxPortrait {
  display: block;
  width: 540px;
  height: auto;
  margin: 1.5rem auto;
}

.mainHeader{
  text-align: center;
  font-size: $headerFontSize;
  font-weight: bold;
  padding: 20px 5px;
  font-family: "Alex Brush";
  color: #3175BF;
}

.aboutTheAuthor{
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  font-family: "Helvetica sans-serif";
  color: #666666;
}
