$icon-height: 40px;
$animation-distance: 10px;

.icon{
  width: auto;;
  height: $icon-height;
  padding: 0 10px;
  transition: margin 0.5s, transform 0.5s;
}

.icon:hover{
  margin:0 10px 0 0;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #403c3c;
}
