$footer-height: 60px;
$icon-height: 40px;

.footer{
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  text-align: left;
  padding-left: 4em;
  background-color: #ECECA0;
  @media (max-width: 1200px){
    position: relative;
    height: auto;
    text-align: center;
    padding-left: 0;
  }
  @media (max-width: 480px){
    line-height: $footer-height/1.3;
  }

}

#copyright{
  background-color: #ECECA0;
  font-size: 14px;
}
